{% extends "layout.html" %}

{% block title %}Add A Page{% endblock %}
{% block pagetitle %}ADD A PAGE{% endblock %}

{% block content %}
<form action="/add/submit" method="POST">
    <div class="form-group">
        <label for="pageTitle">PAGE TITLE</label>
        <input name="pageTitle" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="pageTags">PAGE TAGS</label>
        <input name="pageTags" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="pageContent">PAGE CONTENT</label>
        <textarea  rows="15" name="pageContent" type="text" class="big-form form-control "></textarea>
    </div>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    
</form>
{% endblock %}
